body{    font-size: 16px;     font-family: 微軟正黑體;}
p{    text-align: justify;}
.heading{text-align:left;}
.hero-area .container{
	z-index:10;
}
.bg-1::before{
position:absolute;
background:rgba(0,0,0,0.3);
    content: '';
    width: 100%;
    height: 100vh;


}
.bg-1{
background-image:none;
z-index:-2;
/*background: #f5ddba;*/
}
.mainbg{
	position:fixed; 
	z-index: -1; 
	top: 0px;
}

.shadow-h{
    text-shadow: rgba(0, 0, 0, 0.45) 6px 6px 10px;
}

.shadow-l{
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px;
}
.img-tiger{
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    position: absolute;
    left: -260px;
    margin-top: -80px;

}
.tiger{min-height:500px;}
.tiger .heading{
background:rgba(255, 255, 255, 0.7);
}

.squar{
margin: auto;
width:200px;
height:200px;
border-radius:50%;
background:#ccc;
    background-image: url(../images/about/0.jpg);
    background-size: cover;
    background-position-x: 50%;
}
.bgGray{
background:#e0e0e0;
}
.imgtext{
	fontsize:0.8em !important;
}
.Tyallow{
	color:#fffcc4;
}
.Twhite{
	color:white;
}
.bgWhite{
   
    background: white;
}
.text-light{
	    color: rgba(255, 255, 255, 0.68);
}
.animated .text-light{
color:gray;

}
.blockquote{
font-size:1em;
}
.hero-area{ 
    display: block;
width:block;
}
.hero-area h1{
	line-height: 60px;
}
.totop a{
    padding: 5px 7px;
    background: rgba(125, 113, 99, 0.33);
    position: fixed;
    z-index: 999;
    bottom: 0px;
    margin: 0px;
    right: 0px;
    color: #a2a2a2;
}

.btn-home {
     background-color:transparent; 
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 10px 40px;
    margin-top: 30px;
}
.about .content h3 {

    color: #000;

}
@media (max-width: 990px){

	.navigation .navbar-brand {
		float: none;
	}
	.navigation {
		background: rgba(0, 0, 0, 0.3);
	}
}
@media (max-width: 550px){
	.holysheep{
		display:block;
	}
}	
	
	