vti_encoding:SR|utf8-nl
vti_author:SR|Diroce Q_Q
vti_modifiedby:SR|Diroce Q_Q
vti_timelastmodified:TR|11 Jun 2005 04:16:51 -0000
vti_timecreated:TR|11 Jun 2005 04:16:51 -0000
vti_cacheddtm:TX|11 Jun 2005 04:16:52 -0000
vti_filesize:IR|1647
vti_cachedlinkinfo:VX|S|sunbannd.gif S|sunsepd.gif S|sunbul1d.gif S|sunbul2d.gif S|sunbul3d.gif S|sunnavhs.gif S|sunnavhd.gif S|sunnavvs.gif S|sunnavvd.gif S|sunhomed.gif S|sunupd.gif S|sunprevd.gif S|sunnextd.gif S|sunbul1D.gif S|sunbul2D.gif S|sunbul3D.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sunflowr/sunbannd.gif FSUS|_themes/sunflowr/sunsepd.gif FSUS|_themes/sunflowr/sunbul1d.gif FSUS|_themes/sunflowr/sunbul2d.gif FSUS|_themes/sunflowr/sunbul3d.gif FSUS|_themes/sunflowr/sunnavhs.gif FSUS|_themes/sunflowr/sunnavhd.gif FSUS|_themes/sunflowr/sunnavvs.gif FSUS|_themes/sunflowr/sunnavvd.gif FSUS|_themes/sunflowr/sunhomed.gif FSUS|_themes/sunflowr/sunupd.gif FSUS|_themes/sunflowr/sunprevd.gif FSUS|_themes/sunflowr/sunnextd.gif FSUS|_themes/sunflowr/sunbul1D.gif FSUS|_themes/sunflowr/sunbul2D.gif FSUS|_themes/sunflowr/sunbul3D.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{FED3FD49-DA68-11D9-9360-B0CBFFF4BA6A}
vti_backlinkinfo:VX|
