vti_encoding:SR|utf8-nl
vti_author:SR|Diroce Q_Q
vti_modifiedby:SR|Diroce Q_Q
vti_timelastmodified:TR|04 Jun 2005 02:31:56 -0000
vti_timecreated:TR|04 Jun 2005 02:31:56 -0000
vti_cacheddtm:TX|04 Jun 2005 02:31:58 -0000
vti_filesize:IR|1419
vti_cachedlinkinfo:VX|S|pixbanr.gif S|pixrule.gif S|pixbul1.gif S|pixbul2.gif S|pixbul3.gif S|pixhsel.gif S|pixhbtn.gif S|pixvsel.gif S|pixvbtn.gif S|pixhom.gif S|pixup.gif S|pixbck.gif S|pixnxt.gif S|pixbul1.gif S|pixbul2.gif S|pixbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/pixel/pixbanr.gif FSUS|_themes/pixel/pixrule.gif FSUS|_themes/pixel/pixbul1.gif FSUS|_themes/pixel/pixbul2.gif FSUS|_themes/pixel/pixbul3.gif FSUS|_themes/pixel/pixhsel.gif FSUS|_themes/pixel/pixhbtn.gif FSUS|_themes/pixel/pixvsel.gif FSUS|_themes/pixel/pixvbtn.gif FSUS|_themes/pixel/pixhom.gif FSUS|_themes/pixel/pixup.gif FSUS|_themes/pixel/pixbck.gif FSUS|_themes/pixel/pixnxt.gif FSUS|_themes/pixel/pixbul1.gif FSUS|_themes/pixel/pixbul2.gif FSUS|_themes/pixel/pixbul3.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{04946A33-D4D8-11D9-9360-CCA73008BC4C}
vti_backlinkinfo:VX|
