    html {

        overflow-x: hidden;
        opacity: 1;
    }

    body {
        margin: 0px;
        background: #a0d8ef;
        /* Old browsers */
        background: -moz-linear-gradient(top, #a0d8ef 1%, #feffff 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #a0d8ef 1%, #feffff 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #a0d8ef 1%, #feffff 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    body.rain {
        transition-delay: 1s;
        background: #85b4c6;
        /* Old browsers */
        background: -moz-linear-gradient(top, #85b4c6 1%, #e8e8e8 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #85b4c6 1%, #e8e8e8 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #85b4c6 1%, #e8e8e8 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }



    .rain:before {
        content: " ";
        width: 100%;
        height: 2000px;
        display: block;
        position: absolute;
        z-index: 99;
        filter: saturate(0);
        opacity: .5;
        background-image: url(../img/rain.gif);
    }

    html:before {
        content: " 這只是個草稿，還在改進一些功能，比如最後的草圖等等";
        width: 100%;
        height: 20px;
        color: red;
        display: block;
        padding: 20px;
        box-sizing: border-box;
        background: transparent;
        opacity: .5;
        position: absolute;
        transition: 2s;
    }

    #main-wrap:after {
        content: " ";
        height: 0px;
        opacity: .5;
        transition: 1s;
    }

    #main-wrap.end:after {
        content: " ";
        width: 100%;
        height: 2000px;
        display: block;
        position: absolute;
        z-index: 910;
        background: black;
        opacity: .7;
        top: 0px;
        transition: 1s;
    }

    html.end {

        overflow-y: hidden;
    }

    #final-wrap {
        margin: 10% auto;
        box-sizing: border-box;
        z-index: 999;
        background-repeat: no-repeat;
        width: 500px;
        height: 500px;
        display: block;
        position: absolute;
        display: none;
        opacity: 0;
        transition: 1s;
        padding: 10px;
    }

    #final {
        width: 500px;
        height: 500px;
    }

    #final-wrap p {
        padding: 10px;
        margin-top: 10px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.6);
        width: 500px;
    }

    #final-wrap a {
        color: aliceblue;
    }

    .main-wrap {}

    .main {
        margin: 10px;
        padding: 10px;
        border: 0px solid #ddd;
        height: 200px;
        width: 200px;
        position: fixed;
        left: 50vw;
        margin-left: -100px;
        opacity: 1;
        z-index: 0;
    }

    #ear {
        margin-top: 20px;
        animation-name: s4-jump;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        position: absolute;
        width: 200px;
    }

    .ear {

        width: 80px;
        height: 30px;
        background: white;
    }

    #ear .ear-left {
        animation-name: rotate-ear-l;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-delay: .1s;
        border-radius: 80% 100% 50% 80%;
    }

    #ear .ear-right {
        animation-name: rotate-ear-r;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-delay: .1s;
        border-radius: 100% 50% 100% 80%;
        float: right;
    }

    #eyes circle {
        fill: #fafafa;
    }

    #eyes {
        animation-name: s4-jump;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        transition: .5s;
        position: absolute;
    }

    #faceO,
    #face {
        animation-name: s4-jump;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        margin: 0px auto;
        display: block;
        position: absolute;
    }

    #faceO path {
        fill: #fff;
    }

    #faceO.happy {
        animation-name: rotate, s4-jump;
        animation-fill-mode: both, forwards;
        animation-timing-function: ease-in;
        animation-duration: 1s, 1s;
        animation-iteration-count: infinite, infinite;
    }

    .main path,
    .main circle {
        stroke: rgba(68, 68, 68, 0.31);
        stroke-width: 2;
        /*fill:#fafafa;*/
    }

    #poo path,
    #faceO path {
        stroke-width: 7;
    }

    #poo.ani-FS {
        animation-name: FlowSpeed;
        animation-duration: 3s;
        animation-iteration-count: 5;
        animation-timing-function: ease-in;
        margin-top: 200px;
    }

    #poo.ani-FS path:nth-child(odd) {
        animation-name: FlowSpeed;
        animation-duration: 3s;
        animation-iteration-count: 5;
        animation-delay: .5s;
    }

    .rain #s4-mouth {
        animation-name: RainSheep;
        animation-duration: 2s;
        animation-iteration-count: 3;
        animation-timing-function: ease-in;
        animation-fill-mode: backwards;
    }

    .inline-block {
        display: inline-block;
    }

    .bubble-pa {
        transition: 1s;
        opacity: 0;
    }

    section {
        height: 2000px;
        pointer-events: auto !important;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .top-fixed {
        position: fixed;
        width: 95%;
        padding: 10px;
    }

    .top-fixed > div {
        padding: 5px;
    }

    #timer {
        background: tranparent;
        color: black;
        margin-right: 15px;
        width: 20px;
        animation-name: timeOut;
        animation-duration: 1s;
        animation-iteration-count: 5;
        animation-fill-mode: forwards;
        animation-delay: 15s;
        text-align: center;
        border-radius: 50%;
    }

    @keyframes s4-jump {
        0% {
            padding-top: 0px;
        }
        30% {
            padding-top: 10px;
        }
        60% {
            padding-top: 5px;
        }
        100% {
            padding-top: 0px;
        }
    }


    @keyframes RainSheep {
        0% {
            d: path('M23.38 43.9s4.86 15.29 12.77 -6.29c0.91 -8.29 0.77-10.29 -12+5 Z');
        }
        70% {
            d: path('M23.38 43.9s4.86 20.29 12.77 -6.29c0.91 -8.29 0.77-10.29 -12+5 Z');
        }
        100% {
            d: path('M23.38 43.9s4.86 10.29 12.77 -6.29c0.91 -7.29 0.77-10.29 -12+5 Z');
        }
    }

    @keyframes FlowSpeed {
        0% {
            stroke-dasharray: 100px;
            stroke-dashoffset: 100px;
        }
        100% {
            stroke-dasharray: 150px;
            stroke-dashoffset: -100px;
        }
    }

    @keyframes rotate {
        20% {
            transform: rotate(20deg);
        }
        60% {
            transform: rotate(-20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes rotate-ear-l {
        20% {
            transform: rotate(10deg);
        }
        60% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes rotate-ear-r {
        20% {
            transform: rotate(-10deg);
        }
        60% {
            transform: rotate(10deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes timeOut {
        0% {
            color: red;
            background: rgba(255, 0, 0, 0.41);
        }
        100% {
            color: black;
            background: transparent;
        }
    }

    .buble {
        width: 100px;
        transition: 1s;
        transition-timing-function: ease-out;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 999;
        cursor: pointer;
        opacity: .5;
    }

    .buble.slow {
        transition-delay: 3s;
        transition: 1s;
    }

    section div {
        width: 100%;
    }

    #scene {
        z-index: 900;
    }

    #scene2 {
        position: fixed;
        top: 0px;
        width: 100%;
        display: block;
    }

    .frame {
        margin-top: 100px;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;

        pointer-events: all;
    }

    .frame img {
        display: none;
    }

    .grass {
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-size: cover;
    }

    .grass2 {

        background-image: url(../img/grass2.png);
    }

    .grass1 {
        background-image: url(../img/grass.png);
    }

    .pull-right {
        text-align: right;
        float: right;
    }

    .rain {}

    .rain .grass {
        transition: 2s;
        -webkit-filter: saturate(0.5);
    }
