vti_encoding:SR|utf8-nl
vti_author:SR|Diroce Q_Q
vti_modifiedby:SR|Diroce Q_Q
vti_timelastmodified:TR|04 Jun 2005 00:36:19 -0000
vti_timecreated:TR|04 Jun 2005 00:36:19 -0000
vti_cacheddtm:TX|04 Jun 2005 00:36:20 -0000
vti_filesize:IR|2426
vti_cachedlinkinfo:VX|S|b4.gif S|b3_1.gif S|b3_2.gif S|b3_3.gif S|1-1.gif S|2-4.gif S|2-4.gif S|2-5.gif S|2-4.gif S|2-4.gif S|2-5.gif S|5-4.gif S|5-4.gif S|5-5.gif S|5-4.gif S|5-4.gif S|5-5.gif S|5-4.gif S|5-4.gif S|5-5.gif S|5-4.gif S|5-4.gif S|5-5.gif S|b3_1.gif S|b3_2.gif S|b3_3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/cnflower/b4.gif FSUS|_themes/cnflower/b3_1.gif FSUS|_themes/cnflower/b3_2.gif FSUS|_themes/cnflower/b3_3.gif FSUS|_themes/cnflower/1-1.gif FSUS|_themes/cnflower/2-4.gif FSUS|_themes/cnflower/2-4.gif FSUS|_themes/cnflower/2-5.gif FSUS|_themes/cnflower/2-4.gif FSUS|_themes/cnflower/2-4.gif FSUS|_themes/cnflower/2-5.gif FSUS|_themes/cnflower/5-4.gif FSUS|_themes/cnflower/5-4.gif FSUS|_themes/cnflower/5-5.gif FSUS|_themes/cnflower/5-4.gif FSUS|_themes/cnflower/5-4.gif FSUS|_themes/cnflower/5-5.gif FSUS|_themes/cnflower/5-4.gif FSUS|_themes/cnflower/5-4.gif FSUS|_themes/cnflower/5-5.gif FSUS|_themes/cnflower/5-4.gif FSUS|_themes/cnflower/5-4.gif FSUS|_themes/cnflower/5-5.gif FSUS|_themes/cnflower/b3_1.gif FSUS|_themes/cnflower/b3_2.gif FSUS|_themes/cnflower/b3_3.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{BAB4C92C-D4CB-11D9-9360-CCA73008BC4C}
vti_backlinkinfo:VX|
