vti_encoding:SR|utf8-nl
vti_author:SR|Diroce Q_Q
vti_modifiedby:SR|Diroce Q_Q
vti_timelastmodified:TR|04 Jun 2005 00:36:19 -0000
vti_timecreated:TR|04 Jun 2005 00:36:19 -0000
vti_cacheddtm:TX|04 Jun 2005 00:36:20 -0000
vti_filesize:IR|2417
vti_cachedlinkinfo:VX|S|4.gif S|3-1.gif S|3-2.gif S|3-3.gif S|1.gif S|2-1.gif S|2-3.gif S|2-2.gif S|2-1.gif S|2-3.gif S|2-2.gif S|5-1.gif S|5-3.gif S|5-2.gif S|5-1.gif S|5-3.gif S|5-2.gif S|5-1.gif S|5-3.gif S|5-2.gif S|5-1.gif S|5-3.gif S|5-2.gif S|3-1.gif S|3-2.gif S|3-3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/cnflower/4.gif FSUS|_themes/cnflower/3-1.gif FSUS|_themes/cnflower/3-2.gif FSUS|_themes/cnflower/3-3.gif FSUS|_themes/cnflower/1.gif FSUS|_themes/cnflower/2-1.gif FSUS|_themes/cnflower/2-3.gif FSUS|_themes/cnflower/2-2.gif FSUS|_themes/cnflower/2-1.gif FSUS|_themes/cnflower/2-3.gif FSUS|_themes/cnflower/2-2.gif FSUS|_themes/cnflower/5-1.gif FSUS|_themes/cnflower/5-3.gif FSUS|_themes/cnflower/5-2.gif FSUS|_themes/cnflower/5-1.gif FSUS|_themes/cnflower/5-3.gif FSUS|_themes/cnflower/5-2.gif FSUS|_themes/cnflower/5-1.gif FSUS|_themes/cnflower/5-3.gif FSUS|_themes/cnflower/5-2.gif FSUS|_themes/cnflower/5-1.gif FSUS|_themes/cnflower/5-3.gif FSUS|_themes/cnflower/5-2.gif FSUS|_themes/cnflower/3-1.gif FSUS|_themes/cnflower/3-2.gif FSUS|_themes/cnflower/3-3.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{BAB4C92D-D4CB-11D9-9360-CCA73008BC4C}
vti_backlinkinfo:VX|
