vti_encoding:SR|utf8-nl
vti_author:SR|Diroce Q_Q
vti_modifiedby:SR|Diroce Q_Q
vti_timelastmodified:TR|11 Jun 2005 04:16:52 -0000
vti_timecreated:TR|11 Jun 2005 04:16:52 -0000
vti_cacheddtm:TX|11 Jun 2005 04:16:54 -0000
vti_filesize:IR|5456
vti_cachedlinkinfo:VX|S|nabnr.gif S|naphb.gif S|naphbp.gif S|nahome.gif S|nanext.gif S|naprev.gif S|naup.gif S|naglb.gif S|napvb.gif S|napvbp.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/nature/nabnr.gif FSUS|_themes/nature/naphb.gif FSUS|_themes/nature/naphbp.gif FSUS|_themes/nature/nahome.gif FSUS|_themes/nature/nanext.gif FSUS|_themes/nature/naprev.gif FSUS|_themes/nature/naup.gif FSUS|_themes/nature/naglb.gif FSUS|_themes/nature/napvb.gif FSUS|_themes/nature/napvbp.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{FED3FD7D-DA68-11D9-9360-B0CBFFF4BA6A}
vti_backlinkinfo:VX|
