

.messageDiv {
	margin:10px auto;
	border:2px #ccc solid;
	border-radius:10px;
	width:600px;
	height:auto;
	background-color:#eee;
}

.messageDiv p{
	margin:10px auto;
	max-width:560px;
	word-break: break-all;
}

.css_button {
	padding: 10px 20px;
	border: 1px solid #C7C7C7;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#C4C4C4));
	background: -webkit-linear-gradient(top, #FFFFFF, #C4C4C4);
	background: -moz-linear-gradient(top, #FFFFFF, #C4C4C4);
	background: -ms-linear-gradient(top, #FFFFFF, #C4C4C4);
	background: -o-linear-gradient(top, #FFFFFF, #C4C4C4);
	background-color: #C4C4C4;
	box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 7px #0A0303;
	-webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 7px #0A0303;
	-moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 7px #0A0303;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-shadow: #EDEDED 1px 1px 0px;
	color: #000000;
	font-size: 15px;
	font-family: '微軟正黑體';
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	cursor: pointer;
}
.css_button:hover {
	background: none;
	background-color: #C4C4C4;
	box-shadow: 0px 0px 5px 0px #AAAAAA;
	-webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
	-moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
	border: 1px solid #ffffff;
	color: #000000;
}
.css_button:active {
	top: 1px;
	position: relative;
}

@media(max-width:768px) {
}

@media(max-width:569px) {
}