vti_encoding:SR|utf8-nl
vti_author:SR|Diroce Q_Q
vti_modifiedby:SR|Diroce Q_Q
vti_timelastmodified:TR|04 Jun 2005 01:38:36 -0000
vti_timecreated:TR|04 Jun 2005 01:38:36 -0000
vti_cacheddtm:TX|04 Jun 2005 01:38:38 -0000
vti_filesize:IR|5555
vti_cachedlinkinfo:VX|S|artbannd.gif S|artnvhnd.gif S|artnvhsd.gif S|arthomed.gif S|artnextd.gif S|artprevd.gif S|artupbtd.gif S|artnavgl.gif S|artnvvnd.gif S|artnvvsd.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/artsy/artbannd.gif FSUS|_themes/artsy/artnvhnd.gif FSUS|_themes/artsy/artnvhsd.gif FSUS|_themes/artsy/arthomed.gif FSUS|_themes/artsy/artnextd.gif FSUS|_themes/artsy/artprevd.gif FSUS|_themes/artsy/artupbtd.gif FSUS|_themes/artsy/artnavgl.gif FSUS|_themes/artsy/artnvvnd.gif FSUS|_themes/artsy/artnvvsd.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{04946A06-D4D8-11D9-9360-CCA73008BC4C}
vti_backlinkinfo:VX|
